.details-page {
      height: 100%;
      padding: 30px;
      display: flex;
}

.page-details {
      width: 850px;
      margin-right: 80px;
}

.detailed-page-title {
      margin-left: 90px;
      margin-right: 40px;
      margin-top: 40px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 34px;
      font-weight: 500;
      text-transform: capitalize;
      width: 550px;
      height: fit-content;
      max-height: 140px;
      white-space: normal;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-align: justify;
      text-justify: inter-word;
}

.detailed-page-title .title-tooltiptext {
      visibility: hidden;
      width: fit-content;
      background-color: #f0f3ed;
      color: #000000;
      text-align: left;
      border: 1px solid black;
      top: 10%;
      left: 35%;
      font-size: 13px;
      padding: 5px 5px;
      border-radius: 2px;
      position: absolute;
      z-index: 1;
}

.detailed-page-title:hover .title-tooltiptext {
      visibility: visible;
}

.detailed-page-wishlist-button {
      margin-left: 30px;
      margin-top: 45px;
      width: fit-content;
      height: fit-content;
}


.detailed-page-rating {
      margin-left: 90px;
      margin-right: auto;
      margin-top: 15px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: rgb(133, 133, 133);
      text-transform: capitalize;
      width: fit-content;
      height: fit-content;
      display: flex;
}

/* 
.detailed-page-rating:hover {
      border: 1px solid black;
} */

.detailed-page-price {
      margin-left: 90px;
      margin-top: 25px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: rgb(95, 94, 94);
      text-transform: capitalize;
      width: fit-content;
      height: fit-content;
}

.detailed-page-mrp {
      margin-left: 20px;
      margin-top: 29px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
      font-weight: 500;
      color: rgb(143, 143, 143);
      text-transform: capitalize;
      width: fit-content;
      height: fit-content;
      text-decoration: line-through;
      font-style: oblique;
}

.detailed-page-discount {
      margin-left: 20px;
      margin-top: 27px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 17px;
      font-weight: 500;
      color: rgb(207, 10, 10);
      text-transform: capitalize;
      width: fit-content;
      height: fit-content;
      font-style: oblique;
}

.detailed-page-description {
      margin-left: 90px;
      margin-right: auto;
      margin-top: 30px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 18 px;
      font-weight: 500;
      color: rgb(100, 100, 100);
      text-transform: capitalize;
      /* border: 1px solid black; */
      width: 650px;
      height: fit-content;
      text-align: justify;
      text-justify: inter-word;
}

.detailed-page-offers {
      margin-left: 90px;
      margin-right: auto;
      margin-top: -15px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;
      color: rgb(100, 100, 100);
      /* border: 1px solid black; */
      width: 650px;
      height: 25%;
      text-align: justify;
      text-justify: inter-word;
}

.offers-card {
      border: 1px solid rgba(126, 126, 126, 0.527);
      border-radius: 4px;
      width: 27%;
      height: 150px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.226);
      padding: 8px 14px;
}

.buying-details {
      width: 400px;
      height: fit-content;
      padding: 50px 50px 5px 50px;
      border: 1px solid rgba(0, 0, 0, 0.404);
      border-radius: 10px;
      box-shadow: 0px 0px 8px 0.001px black;
      margin-top: 3%;
      margin-bottom: auto;
}

.detailed-page-quantity {
      margin-left: 20px;
      margin-right: auto;
      margin-top: 30px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 25px;
      font-weight: 500;
      color: rgb(0, 0, 0);
      text-transform: capitalize;
      display: flex;
      /* width: fit-content; */
      /* height: fit-content; */
}

.product-stock {
      margin-left: 20px;

      /* border: 1px solid black; */
      width: fit-content;
      height: fit-content;
      font-size: 25px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 500;
}

#quantity-text-field {
      height: 31px;
      width: 40px;
      border-top: 1px solid rgb(0, 0, 0);
      border-bottom: 1px solid rgb(0, 0, 0);
      border-left: 0px;
      border-right: 0px;
      text-align: center;
      font-size: x-large;
}

#quantity-text-field:focus {
      outline: none;
}

#quantity-increase {
      height: 35px;
      width: 40px;
      border: 1px solid rgb(0, 0, 0);
      background-color: black;
      color: aliceblue;
      border-bottom-right-radius: 9px;
      font-size: x-large;
      border-top-right-radius: 9px;
}

#quantity-decrease {
      height: 35px;
      width: 40px;
      border: 1px solid rgb(0, 0, 0);
      background-color: black;
      color: aliceblue;
      border-bottom-left-radius: 9px;
      font-size: x-large;
      border-top-left-radius: 9px;
}

.total-amount {
      margin-left: 20px;
      margin-right: auto;
      margin-top: 30px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 25px;
      font-weight: 500;
      color: rgb(0, 0, 0);
      text-transform: capitalize;
      display: flex;
      /* width: fit-content; */
      /* height: fit-content; */
}

#buy-now-button {
      width: 300px;
      height: 50px;
      margin-left: 30px;
      margin-right: auto;
      margin-top: 20px;
      border: 0px;
      background-color: #2a3035;
      color: #f4ede2;
      border-radius: 10px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
      font-size: 20px;
      cursor: pointer;
}

#add-to-cart-button {
      width: 300px;
      height: 50px;
      margin-left: 30px;
      margin-right: auto;
      margin-top: 20px;
      border: 0px;
      background-color: #2a3035;
      color: #f4ede2;
      border-radius: 10px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
      font-size: 20px;
      cursor: pointer;
}

.detailed-page-share-icons {
      vertical-align: bottom;
      margin-top: 24px;
      padding: 15px;
}

.share-title {
      font-size: larger;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.share-icons {
      margin-top: 10px;
      margin-left: 40px;
}

.detail-page-features {
      margin-left: 19%;
      margin-top: 20px;
      display: flex;
      opacity: 0.55;
}

.replacement-feature {
      width: 100px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding-top: 10px;
}

.free-delivery-feature {
      width: 100px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin-left: 40px;
      padding-top: 10px;

}

.warranty-policy-feature {
      width: 100px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin-left: 40px;
      padding-top: 10px;
}

.good-discount-feature {
      width: 100px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin-left: 40px;
      padding-top: 10px;
}

.customer-reviews {
      height: 100%;
      padding: 30px;
}

.customer-reviews-title {
      font-size: 25px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: black;
      width: fit-content;
      height: 30px;
      cursor: default;
}

.customer-reviews-title:hover {
      border-bottom: 1px solid black;
      height: 29px;
}

.customer-name {
      margin-left: 5%;
      font-size: 20px;
      margin-bottom: 8px;
}

.customer-review-description {
      margin-left: 5%;
      width: 90%;
      font-size: 16px;
      font-family: sans-serif;
      text-align: justify;
      text-justify: inter-word;
}