.buyers-orders-table-title {
      margin-top: 1%;
      margin-left: 4%;
      padding : 1%;
      text-align: center;
      font-size: 35px;
      cursor: pointer;
      font-weight: 300;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      transition: font-weight 500 ease-in-out;
      width: 90%;
      text-decoration: underline;
      /* border: 1px solid black; */
}

.buyers-orders-table-title:hover {
      color: rgb(15, 76, 78);
}

.buyers-orders-table {
      margin-top: 1%;
      margin-left: 4%;
      overflow: hidden;
      width: 92%;
      height: 700px;
      position: relative;
}

.buyer-orders-table-pagination {
      position: absolute;
      width: 50%;
      bottom: 1px;
      right: 1px;
}