.buyers-orders-table-title {
      margin-top: 1%;
      margin-left: 4%;
      padding: 1%;
      text-align: center;
      font-size: 35px;
      cursor: pointer;
      font-weight: 300;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      transition: font-weight 500 ease-in-out;
      width: 90%;
      text-decoration: underline;
      border: #1d2133;
      cursor: default;
      /* border: 1px solid black; */
}


.buyers-orders-table {
      margin-top: 1%;
      margin-left: 4%;
      overflow: hidden;
      width: 92%;
      height: 700px;
      position: relative;
}

.buyer-orders-table-pagination {
      position: absolute;
      width: 50%;
      bottom: 1px;
      right: 1px;
}

.message-seller-button {
      border: 1px solid black;
      border-radius: 4px;
      background-color: white;
      height: 45px;
      width: 90px;
      transition: ease-in-out 0.1s;
}

.message-seller-button:hover {
      background-color: #1d2133;
      color: white;
}

.message-seller-button:active {
      transform: scale(0.95);
}